@page
@model IndexModel
@using CowboyCafe.Data;
@{
	ViewData["Title"] = "Home page";
}

<h1>
	We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the
	dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de
	Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so
	take it easy with us.
</h1>

the name of the item, its price, and its calories.
If an item comes in multiple sizes, you will need
to list the price and calories for each size.

<h2>Entrees</h2>
@foreach (Entree e in Menu.Entrees)
{
	<div class="menu-item">
		<div>@e.ToString()</div>
		<div>@e.Price</div>
		<div>@e.Calories</div>
	</div>
}

<h2>Sides</h2>
@foreach (Side s in Menu.Sides)
{
	<div class="menu-item">
		<div>@s.GetName</div>

		<div class="item-size">
			@(s.Size = Size.Small)
			<div>@s.Price</div>
			<div>@s.Calories</div>
		</div>

		<div class="item-size">
			@(s.Size = Size.Medium)
			<div>@s.Price</div>
			<div>@s.Calories</div>
		</div>

		<div class="item-size">
			@(s.Size = Size.Large)
			<div>@s.Price</div>
			<div>@s.Calories</div>
		</div>
	</div>
}

<h2>Drinks</h2>
@foreach (Drink d in Menu.Drinks)
{
	<div class="menu-item">
		<div>@d.GetName</div>

		<div class="item-size">
			@(d.Size = Size.Small)
			<div>@d.Price</div>
			<div>@d.Calories</div>
		</div>

		<div class="item-size">
			@(d.Size = Size.Medium)
			<div>@d.Price</div>
			<div>@d.Calories</div>
		</div>

		<div class="item-size">
			@(d.Size = Size.Large)
			<div>@d.Price</div>
			<div>@d.Calories</div>
		</div>
	</div>
}
