@page
@model IndexModel
@using CowboyCafe.Data;
@{
	ViewData["Title"] = "Home page";
}

<h1>
	We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the
	dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de
	Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so
	take it easy with us.
</h1>

<h2>Entrees</h2>

<table class="table table-hover">
	<tbody>
		@foreach (Entree e in Menu.Entrees)
		{
			<tr>
				<td>@e.ToString()</td>
				<td>
					<div>
						<div>@string.Format("{0:C}", e.Price)</div>
						<div>@e.Calories Cal</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>


<h2>Sides</h2>

<table class="table table-hover">
	<tbody>
		@foreach (Side s in Menu.Sides)
		{
			<tr>
				<td>@s.GetName</td>
				<td>
					<div class="item-size">
						@(s.Size = Size.Small)
						<div>@string.Format("{0:C}", s.Price)</div>
						<div>@s.Calories Cal</div>
					</div>
				</td>
				<td>
					<div class="item-size">
						@(s.Size = Size.Medium)
						<div>@string.Format("{0:C}", s.Price)</div>
						<div>@s.Calories Cal</div>
					</div>
				</td>
				<td>
					<div class="item-size">
						@(s.Size = Size.Large)
						<div>@string.Format("{0:C}", s.Price)</div>
						<div>@s.Calories Cal</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<h2>Drinks</h2>
<table class="table table-hover">
	<tbody>

		@foreach (Drink d in Menu.Drinks)
		{
			<tr>
				<td>@d.GetName</td>
				<td>
					<div class="item-size">
						@(d.Size = Size.Small)
						<div>@string.Format("{0:C}", d.Price)</div>
						<div>@d.Calories Cal</div>
					</div>
				</td>
				<td>
					<div class="item-size">
						@(d.Size = Size.Medium)
						<div>@string.Format("{0:C}", d.Price)</div>
						<div>@d.Calories Cal</div>
					</div>
				</td>
				<td>
					<div class="item-size">
						@(d.Size = Size.Large)
						<div>@string.Format("{0:C}", d.Price)</div>
						<div>@d.Calories Cal</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>